// project fonts
@font-face {
  font-family: 'AmesRoman';
  src: url('../assets/fonts/amesRoman/AmesRoman-Regular.woff') format('woff'),
    url('../assets/fonts/amesRoman/AmesRoman-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('../assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
