// variables
$font-primary: 'TT Travels',
cursive,
sans-serif;

$white: #ffffff;
$black: #000000;

$primary: #5A30F0;
$textBlack: #404040;
$textWhite: $white;

$duration: .6s;
$animationDuration: .6s;
$timing: cubic-bezier(.49, .09, .44, .78);