// variables
$font-primary: 'AmesRoman',
cursive,
sans-serif;
$font-secondary: 'Poppins',
sans-serif;

$white: #ffffff;
$gray: #e9e9e9;
$black: #1d1e1f;
$yellow: #E0B785; 
$red: #C71413;

$duration: .6s;
$animationDuration: .6s;
$timing: cubic-bezier(.49, .09, .44, .78);